.app {

}

.header {
    width: 100%;
    display: table;
}

.banner {
    background: url('http://talkip.com.br/images/slide01.png');
    height: 250px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.container-button {
    padding: 20px;
}

button {
    background: #b9005f !important;
    border: none !important;
    color: #ffffff !important;
    outline: none !important;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    min-width: 150px;
    font-weight: bold;
    font-size: 16px;
    cursor:pointer;
}

.footer {
    display: table;
    width: 100%;
}

.col {
    display:table-cell;
    width: 50%;
    text-align: center;
    cursor:pointer;
}

a {
    color:#b9005f;
    text-decoration: none;
}
